includes:
    - vendor/phpstan/phpstan-mockery/extension.neon

parameters:
    level: 6
    tips:
        treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            identifier: property.notFound
            paths:
                - src/Testing/FakeNutgram.php
        -
            identifier: new.static
            paths:
                - src/Exception/ApiException.php
                - src/Testing/FormDataParser.php
        -
            identifier: nullsafe.neverNull
        -
            identifier: missingType.iterableValue
            paths:
                # unable to infer iterable type from inherited docblock
                - src/Cache/Adapters/ArrayCache.php
    paths:
        - src
