<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <directory suffix=".php">./examples</directory>
            <directory suffix=".php">./tests</directory>
            <directory suffix=".php">./src/Telegram/Attributes</directory>
            <directory suffix=".php">./src/Telegram/Endpoints</directory>
            <directory suffix=".php">./src/Telegram/Types</directory>
            <directory suffix=".php">./src/Laravel/Log</directory>
            <directory suffix=".php">./src/RunningMode</directory>
            <directory suffix=".php">./src/Testing/Constraints</directory>
            <file>./src/NutgramServiceProvider.php</file>
            <file>./src/Laravel/Commands/RunCommand.php</file>
            <file>./src/Support/StrUtils.php</file>
        </exclude>
    </coverage>
    <php>
        <env name="TELEGRAM_TOKEN" value="TELEGRAM_TOKEN_HERE" force="true"/>
    </php>
</phpunit>
